body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:magenta;
}

.container {
    text-align: center;
    background: magenta;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cityInput {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
    color: black;
    background-color: aqua;
}